<h1>Listing notes</h1>
<%= content_tag :h2, @notes.length.to_s + ' Notes' %>

<table>
	  <tr>
	    <th >id</th>
			<th >created at</th>
			<th >by</th>
			<th >note</th>
			<th >event id</th>
			<th >img</th>
			<th >modified</th>
			<th >private</th>
			<th colspan = '3'>Actions</th>
	  </tr>
  
<% @notes.each do |note| %>
  <tr>
  
    <td><%= note.id %></td>
		<td><%= note.created_at %></td>
		<td><%= note.created_by %></td>
		<td><%= note.note %></td>
		<td><%= note.event_id %></td>
		<td><%= note.img %></td>
		<td><%= note.updated_at %></td>
		<td><%= note.private_note %></td>
  
    <td><%= link_to 'Show', :action => 'show', :id => note %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => note %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => note }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New notes', :action => 'new' %>
