<p>
  <b>ID:</b> <%=h @note.id %>
</p>
<p>
  <b>Created At:</b> <%=h @note.created_at%>
</p>
<p>
  <b>Note:</b> <%=h @note.note %>
</p>
<p>
  <b>Created By:</b> <%=h @note.created_by %>
</p>
<p>
  <b>Event ID:</b> <%=h @note.event_id %>
</p>
<p>
  <b>Photo</b> <%=h @note.img %>
</p>
<p>
  <b>Modified:</b> <%=h @note.updated_at %>
</p>
<p>
  <b>Private:</b> <%=h @note.private_note %>
</p>

<%= link_to 'Edit', :action => 'edit', :id => @note %> |
<%= link_to 'Back', :action => 'list' %>
