<h1>Main Admin Page</h1>

<br />
<h2>Host: <%= @ur %></h2>
<h2>Environment: <%= ENV[Rails.env] %></h2>
<h2>Database Adapter: <%= Rails.configuration.database_configuration[Rails.env]['adapter'] %> </h2>
<h2>Database: <%= Rails.configuration.database_configuration[Rails.env]['database'] %> </h2>
<h2>Client IP: <%= @ip %></h2>
<h2>Bucket: <%= ENV['S3_BUCKET'] %></h2>
<h2>S3 Base folder: <%=  %></h2>
<h2>Config File: <%= Piecemaker.config.file_to_load %></h2>