<h1>Main Admin Page</h1>

<br />
<h2>Host: <%= @ur %></h2>
<h2>Environment: <%= ENV['RAILS_ENV'] %></h2>
<h2>Architecture: <%= Configuration.arch_type %></h2>
<h2>Database Adapter: <%= Rails.configuration.database_configuration[Rails.env]['adapter'] %> </h2>
<h2>Database: <%= Rails.configuration.database_configuration[Rails.env]['database'] %> </h2>
<h2>App Location: <%= @env %></h2>
<h2>Client IP: <%= @ip %></h2>
<h2>Bucket: <%= ENV['S3_BUCKET'] %></h2>
<h2>Video Base Path: <%= Configuration.video_base_path %></h2>
<h2>Pseudostreaming Type: <%= Configuration.pseudostreaming_type %></h2>
