<b>Title:</b>
<%= text_field 'video', 'title',:size => 50  %>
<br />
<b>Rating:</b>
0<%= radio_button_tag 'video[rating]', '0' , @video.rating == 0 %>
1<%= radio_button_tag 'video[rating]', '1' , @video.rating == 1 %>
2<%= radio_button_tag 'video[rating]', '2' , @video.rating == 2 %>
3<%= radio_button_tag 'video[rating]', '3' , @video.rating == 3 %>
4<%= radio_button_tag 'video[rating]', '4' , @video.rating == 4 %>
5<%= radio_button_tag 'video[rating]', '5' , @video.rating == 5 %>
<br />
<b>Recording started at:</b><%= text_field_tag 'video[recorded_at]',@video.recorded_at, :size => 30 %><br />
<span style = 'color:#c00'><br />Changing the recording starting time will affect all events times!</span>
<br />
<b>Duration:</b><%= text_field_tag 'video[duration]',@video.duration, :size => 10 %> Seconds<br />
<b>Meta Data</b><br />
<%= text_area 'video', 'meta_data',:size => '50x5' %>
<br />
<%= "Uploaded:" %>
<%= check_box_tag 'video[is_uploaded]', 'true', @video.is_uploaded %>
<br>

<b>Piece:</b>
<%= select_tag 'piece_id', options_for_select(piece_select_with_none,@video.piece_id) %>
<br /><br />
