<table id = 'video-table' class = 'pretty'>
    <thead>
        <tr>
            <th>Title</th>
            <th>ID</th>
            <th>S3</th>
            <th>Piece</th>
            <th>Duration</th>
            <%- if true -%>
            <th>Annotate</th>
            <th>Edit</th>
            <th>Destroy</th>
            <% end -%>
        </tr>
    </thead>
    <tbody>
        <%- @videos.each do |video| -%>
        <tr id = 'rowId<%= video.id %>'>
            <td><%= video.title %></td>
            <td><%= video.id %></td>
            <td><%= video.state %></td>
            <td><%= video.piece.title if video.piece %></td>
            <td><%= video.dur_string %></td>
            <%- if true -%>
            <td><a href="/video_viewer/<%= video.id %>">Annotate</a></td>
            <td><a href="/video/edit/<%= video.id %>" class='get'>Edit</a></td>
            <td><a href="/video/confirm_destroy/<%= video.id %>">Delete</a></td>
            <% end -%>
        </tr>
        <%- end -%>
    </tbody>

</table>
