<h3><%= @video.title %></h3>
<h4>Content:</h4>
<%- @video.video_recordings.each do |video_recording| -%>
<%= video_recording.primary ? "Primary-" : ' ' %> <%= video_recording.piece.title %><br />
<%- end -%>
<h4>Avalaible Versions</h4>
<%= "Local: #{@video.fn_local}<br />" if @video.fn_local %>
<%= "Archive: #{@video.fn_arch}<br />" if @video.fn_arch %>
<%= "S3: #{@video.fn_s3}<br />" if @video.fn_s3 %>
<h4>Meta Data</h4>
<%= @video.meta_data %>
<br /><br />
<%= link_to "Back to List", came_from_or({:action => 'index', :id => @return_to}) %>