
<%= raw  error_messages_for @user %>
<p><label for="user_name">Name</label><br />
<%= text_field 'user', 'login'  %></p>
<p><label for="user_password">Password</label><br />
<%= password_field 'user', 'password'  %></p>
<p><label for="user_name">Confirm Password</label><br />
<%= password_field 'user', 'password_confirmation'  %></p>

<p><label for="user_performer">User is also a Performer?</label><br />
  <%= check_box_tag 'user[is_performer]', 1, @user.is_performer %>Yes / No<br />

<%- @user.role_name ||= 'user' -%>

<%- if user_has_right?('group_admin') -%>
<%= raw put_role_select(@user.role_name) %>
<%- else -%>
<%= hidden_field_tag :role_name,@user.role_name %>
<%- end -%>
<%= submit_tag 'Save' %>

<%= link_to 'Cancel', :action => 'index' %>
