<!--[form:event]-->
ID: <%= @event.id %>&nbsp;&nbsp;Created by: <%= @event.created_by %>&nbsp;&nbsp;Modified By: <%= @event.modified_by %>&nbsp;&nbsp;Updated At: <%= @event.updated_at %><br /><br />
<label for="event_title">Title</label>
<%= text_field 'event', 'title'  %>
<label for="event_event_type">Type</label>

 <%= select_tag('event[event_type]', options_for_select(Event.event_types,@event.event_type)) -%>
&nbsp;&nbsp;<label for="event_title">Inherits Title</label>
<%= check_box_tag 'event[inherits_title]','true',@event.inherits_title %>
<br /><br />
<label for="event_created_at">Created At</label>
 <%= text_field 'event', 'created_at',:size => 20  %>

<label for="event_locked">Locked</label>
<%= text_field 'event', 'locked',:size => 8 %>

<br /><br />

<label for="event_piece_id">Piece ID</label>
<%= text_field 'event', 'piece_id',:size => 6  %>
<label for="event_video_id">Video ID</label>
<%= text_field 'event', 'video_id',:size => 6 %>


<br /><br />

<label for="event_location">Location</label>
<%= text_field 'event', 'location',:size => 8 %>
<label for="event_state">State</label>
<%= text_field 'event', 'state',:size => 7 %> (normal, deleted, draft_of:)&nbsp;&nbsp;
<label for="event_rating">Rating</label>
<%= text_field 'event', 'rating',:size => 6 %>
<br /><br />
<label for="event_highlighted">Highlighted</label>
<%= check_box_tag 'event[highlighted]', 'true', @event.highlighted %>

<br /><br />
Performers separated by ','<br />
<%= text_field_tag 'event[performers]', @event.joined_performers(','),:size => 60  %>
<p><label for="event_description">Description</label><br/>
<%= text_area 'event', 'description'  %></p>

<br />
<br />
<!--[eoform:event]-->
