<h1>Listing Events
<%- if @piece -%>
in "<%= @piece.title %>"
<%- return_id = @piece.id -%>
<%- end -%>
</h1>

<table id = 'event_table' class = 'pretty'>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Type</th>
    <th>Happened At</th>
    <th>Piece id</th>
    <th>State</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
  </thead>
  <tbody>
<% for event in @events %>
<tr>
  <td><%= event.id %></td>
  <td><%= event.title %></td>
  <td><%= event.event_type %></td>
  <td><%= event.happened_at %></td>
  <td><%= event.piece_id %></td>
  <td><%= event.state %></td>
  <td><%= link_to 'Show', :action => 'show', :id => event %></td>
  <td><%= link_to 'Edit',"/events/edit/#{event.id}" %></td>
  <td><%= link_to 'Destroy',"/events/destroy/#{event.id}/?piece_id=#{return_id}", :confirm => 'Are You Sure?' %></td>
</tr>
<% end %>
</tbody>
</table>
