<%= content_tag :h2, "Tags in #{@piece.title}" %>
<table>
  <th>Tag Name</th>
  <th>Tag Type</th>
  <th colspan=2>Actions</th>
<%- @piece.tags.each do |tag| -%>
<tr>
<td><%= tag.name %></td>
<td><%= tag.tag_type %></td>
<td><%= link_to 'Edit', :controller => 'pieces', :action => 'edit_tag', :id => tag.id %></td>
<td><%= link_to 'Destroy',{ :controller => 'pieces', :action => 'destroy_tag', :id => tag.id}, :confirm => 'Are you sure?', :method => :post %></td>
</tr>
<%- end -%>
</table>
<br />
<%= link_to "Back to: \"#{@piece.title}\"", :action => 'show', :id => @piece.id %>