= content_tag :h2, @piece.title

%h3
  Title:
  =@piece.title
  &nbsp;&nbsp;&nbsp;Short Name:
  =@piece.short_name || 'none'
  &nbsp;&nbsp;&nbsp; Created:
  =@piece.created_at.strftime("%d/%m - %H:%M:%S %Z")
= @piece.events.length
events,
= @piece.is_active ? "Working Piece" : "Archive Piece"
%br/
%br/
= link_to 'Capture',:controller => 'capture', :action => 'present', :id => @piece
|
= link_to 'Edit', {:action => 'edit', :id => @piece},:class => 'get'
|
= link_to 'Event List',:controller => 'events',:action => 'list', :id => @piece
%br/
%br/
.piecesshowbox
  %strong
    Cast:
  .pieceshow
    - @piece.performer_list.each do |user|
      = user
      %br/
.piecesshowbox
  %strong
    = @piece.events.select{|x| x.is_deleted?}.length
    Trash:
  = link_to 'View',:controller => 'capture', :action => 'present', :id => @piece, :filter_type => 'trash'
  |
  = link_to 'Empty',:controller => 'pieces', :action => 'empty_trash', :id => @piece
  %br/
  .pieceshow
    - @piece.events.deleted.each_with_index do |trash,index|
      = index.to_s + ': ' + (trash.title || 'no title')
      %br/
      %br/
.piecesshowbox
  %strong Locked:
  %br/
  .pieceshow
    - @piece.events.lokked.each_with_index do |locked,index|
      = index.to_s + ': ' + locked.title
      %br/
      =link_to "#{locked.id}", "/pieces/unlock_event/#{locked.id}"
      %br/
      %br/
.piecesshowbox
  %strong Dates:
  %br/
  .pieceshow
    - i = 1
    - @piece.date_list.each do |date|
      = raw(i.to_s + ': ' + link_to(date.strftime("%D"),:controller => :capture,:action => :present,:id => @piece.id,:filter_type => 'date_range', :start_date => date, :end_date => date+60*60*24))
      %br/
      %br/
      - i += 1
%table
  %tr
    %th Tag Name
    %th Tag Type
    %th{:colspan => "2"} Actions
  - @piece.tags.each do |tag|
    %tr{:class =>cycle('row-1','row-2')}
      %td
        = tag.name
      %td
        = tag.tag_type
      %td
        = link_to 'Edit', :controller => 'pieces', :action => 'edit_tag', :id => tag.id
      %td
        = link_to 'Destroy',{ :controller => 'pieces', :action => 'destroy_tag', :id => tag.id,:came_from => @came_from + '?tab=l4'}, :confirm => 'Are you sure?', :method => :post
