<%= will_paginate(@documents) unless params[:search_term].present? %><br />

<table id = 'doc_table'>
  <tr>
    <th>File Name</th>
    <th>Created At</th>
    <th>Type</th>
    <th>File Size</th>
    <th>S3 OK?</th>
    <th colspan = '3'>Actions</th>
  </tr>
  
<% for document in @documents %>
<tr class = "<%= cycle('row-1','row-2') %>">
  <td><%=h document.doc_file_name %></td>
  <td><%=h document.created_at %></td>
  <td><%=h document.doc_content_type %></td>
  <td><%=h document.doc_file_size %></td>
  <td><%=h document.s3_ok? %></td>
  <td><%= link_to 'Show Details', :action => 'show', :id => document %></td>
	<td><%= link_to 'Download',"http://s3.amazonaws.com/#{s3_bucket}/#{document.s3_path}" %></td>
  <td><%= link_to 'Destroy', { :action => 'destroy', :id => document }, :confirm => 'Are you sure?', :method => :post %></td>
</tr>
<% end %>
</table>
