First Name:
= text_field_tag 'performer[first_name]', @performer.first_name
%br/
Last Name:
= text_field_tag 'performer[last_name]', @performer.last_name
%br/
Short Name:
= text_field_tag 'performer[short_name]',@performer.short_name
%br/
- possible_users = [['None','None']]
- current_users = current_configuration.users.map{|x| [x.login,x.id.to_s]}
- possible_users += current_users
%br/
Currently In Company:
= check_box_tag 'performer[is_current]','true',@performer.is_current
%br/
Attach to User:
= select_tag 'performer[user_id]', options_for_select(possible_users,@performer.user_id.to_s || 'None')
%br/
= submit_tag 'Save'
= link_to 'Cancel', :action => 'index'
