%h4 First Name
= @performer.first_name
%h4 Last Name
= @performer.last_name
%h4 Short Name
= @performer.short_name
%h4 User Name
-if @performer.user
  = @performer.user.login
-else
  No User
%br/
%br/
%br/
= link_to 'Edit', :action => 'edit', :id => @performer.id