<h2>Configuration</h2
<p>
  <b>Location:</b> <span id = 'star'><%= @configuration.location.location %></span>
</p>
<p>
  <b>Default Piece: </b> <%#= h @configuration.default_piece.title %>
</p>
<p>
  <b>Time Zone: </b> <%= h @configuration.time_zone %>
</p>
<p>
  <b>Use Auto Video:</b> <%= h @configuration.use_auto_video.to_s %>
</p>

  <%= universal_table(
  @configuration.locations,
  {
    :columns => [ {'ID' => 'id',:sort => 'id'},
                  {'Location' => 'location',:sort => 'title'}
                ],
    :actions => [ 
                  {'Destroy' => '/configuration/delete_location'}
                ],
    :admin => {'Destroy'=>'group_admin','Data' => 'group_admin'}
  }
  ) %>
  <% form_tag :action => 'add_location', :id => @configuration do %>
    <p><label for="location">Add a Location</label><br/>
    <%= text_field_tag 'location'%>
    <%= submit_tag 'Add' %>
    </p>
  <% end %>

<br />
<br />
<%= link_to 'Edit', :action => 'edit', :id => @configuration %>

