<%- if SetupConfiguration.use_auto_video? -%>
<h3 style = 'color:#00c'> Please check the QuickTime Player is configured properly.</h3>
<%- end -%>

<h3><%= 'Video Start' %></h3>
<%= form_tag({:action => 'confirm_video_in',:id => @video},:class => 'ajax') do -%>

Video Name: 
<%= text_field_tag 'video[title]',@video.title, :size => 30 %>
<%= hidden_field_tag('quick_take', 'true') if params[:quick_take] -%>
<%= hidden_field_tag('event[event_type]', @video.event_type ) -%>
<br /><br />
<%= submit_tag "#{@text} Video" %> <%= link_to 'Cancel',{:action => 'cancel_new_vid', :id => @video.id}, :class => 'cancel_mod' %>
<%- end %>
<br />
