<div id="sort_<%= event.id -%>"class="sm fi ev<%= highlighted_class(event) -%> type<%= event.event_type  -%>" >
<%= raw display_title(event, @terms)%>
<%= raw display_menu_link(event,'evmm','','div',true) unless event.is_deleted? %>
<%= raw display_vid_info(event)%>
<%= raw display_creation_info(event)%>
<%= raw display_performers(event,@terms)%>
<%= raw display_description(event,@terms)%>
<%= raw display_children(event,@terms) %>
<%= raw display_tags(event)%>
<%= raw display_edit_links(event) if event.is_deleted? -%> 
<%= raw display_notes(event) if current_user.notes_on %>
</div>