

<div id='events_presentation' data-pieceid='<%= current_piece.id %>'>
<%= render :partial => 'present_header' %>

<%- dates = [] -%>
<%- next_date = @events[0].happened_at.at_midnight - 1.day if @events.length > 0 -%>
<%- index = @events.length - 1 -%>
<%- i = 0 -%>
<%- while i <= index -%>
<%- if @events[i].happened_at.at_midnight > next_date -%>   
  <%- next_date =  @events[i].happened_at.at_midnight -%>
  <%- dates <<  next_date -%>
  <div style = "color:#d00;font-size:20px;margin-left:-25px" id= "dat-<%= (dates.length-1).to_s  %>" >
    <%=  next_date.strftime("%A %d %b %Y") %>
  </div>

<%- end -%>
<%- if @events[i] && @events[i].event_type == 'video' -%>
<%- the_video = @events[i] -%>
<%= raw open_video_html(the_video) %>
<%- i += 1 -%>
<%- while @events[i] && @events[i].happened_at < the_video.end_time -%>
<%= render :partial => 'one_event', :locals => {:event => @events[i]} %>
<%- i += 1 -%>
<%- end -%>
</div>
<%- elsif @events[i] -%>
<%= render :partial => 'one_event', :locals => {:event => @events[i]} %>
<%- i += 1 -%>
<%- end -%>
<%- end -%>


</div>

<%- content_for :menus do  -%>
<div id = 'event-menu' class = 'menn evm' style='display:none'>
  <div id = 'menid'></div>
  <div class = 'menclose'></div>
  <div id='menin'>
    <br />
    <%= raw put_menu %>
  </div>
</div>
<div id = 'video-menu' class = 'menn vim' style='display:none'>
  <div id = 'vmenid'></div>
  <div class = 'menclose'></div>
  <div id='vmenin'>
    <br />
    <%= raw put_v_menu %>
  </div>
</div>
<div id = 'sub-scene-menu' class = 'menn sum' style='display:none'>
  <div id = 'smenid'></div>
  <div class = 'menclose'></div>
  <div id='smenin'>
    <br />
    <%= raw put_s_menu %>
  </div>
</div>
<%- end -%>



<%- content_for :quick do -%>
<%- if user_has_right?('normal_actions') -%>
<div id="quick" data-shortcut = 'enabled'>
<span class = 'hdble'>
  <%= form_tag :action => 'present', :id => session[:piecid], :filter_type => 'text' do %>
  <%= text_field_tag 'search', '',:size => 20 %>
  <%= submit_tag 'Search' %><%= link_to 'Show All', :action => 'present', :id => session[:piecid] %>
  <%- end %><br />
<span class="short-cut">N </span><%= link_to('New Scene',{:action => 'new_event',:id => 'scene'}, :class => 'get sprep')-%><br />
<span class="short-cut">M </span><%= link_to('New Marker',{:action => 'new_marker',:id => 'marker'}, :class => 'marker mprep', :id => 'marker')-%><br />
<span class="short-cut">S </span><%= link_to('New Sub Scene',{:action => 'new_sub_scene'}, :class => 'get ssprep')-%>
<%- if user_has_right?('normal_actions') -%>
<br /><br />
<span id='dvd_quick'><%= raw video_quick_link %></span>
<% end -%><br /><br />
</span>
<%= link_to "Open Scratchpad",{:controller => 'capture',:action => 'open_scratchpad'},:class => 'get-sc' %>
<br />
<a class = 'collapse'>Collapse </a><a class = 'expand'>Expand</a>
<br /><br /><br />
<div id = "dates">
<%- dates.each_with_index do |date,index| -%>
<a class = "dates"id= "dat-<%= index.to_s %>"><%= date.strftime("%d %b %Y") %></a><br />
<% end %>
</div>
</div>
<%- end -%>s
<%- end -%>
