<div id='events_presentation' data-pieceid='<%= current_piece.id %>' data-truncate ='<%= current_user.truncate %>'>
<%= render :partial => 'present_header' %>

<%- dates = [] -%>
<%- next_date = @events[0].happened_at.at_midnight - 1.day if @events.length > 0 -%>
<%- index = @events.length - 1 -%>
<%- i = 0 -%>

<%- while i <= index -%>
<%- if @events[i].happened_at.at_midnight > next_date -%>
  <%- next_date =  @events[i].happened_at.at_midnight -%>
  <%- dates <<  next_date -%>
  <div style = "color:#d00;font-size:20px;margin-left:-25px" id= "dat-<%= (dates.length-1).to_s  %>" >
    <%=  next_date.strftime("%A %d %b %Y") %>
  </div>



<%- end -%>
<%- if @events[i] && @events[i].event_type == 'video' -%>
<%- the_video = @events[i] -%>
<%= raw open_video_html(the_video) %>
<%- i += 1 -%>
<%- while @events[i] && (!the_video.dur || (@events[i].happened_at < the_video.end_time)) -%>
<%= render :partial => 'one_event', :locals => {:event => @events[i]} %>
<%- i += 1 -%>
<%- end -%>
</div>
<%- elsif @events[i] -%>
<%= render :partial => 'one_event', :locals => {:event => @events[i]} %>
<%- i += 1 -%>
<%- end -%>
<%- end -%>


</div>

<%- content_for :menus do  -%>
<script type="text/html" id="evdm">
  <%= render :partial => '/capture/event_drop_down' -%>
</script>
<script type="text/html" id="sevdm">
  <%= render :partial => '/capture/sub_event_drop_down' -%>
</script>
<script type="text/html" id="vidm">
  <%= render :partial => '/capture/video_drop_down' -%>
</script>

<div id = 'drop' class = 'menu-box' style='display:none'>
  <div id = 'show-id'></div>
  <div class = 'menclose'></div>
  <br />
  <ul id = 'drop-down-list' class = "dropdown">
  </ul>
</div>
<%- end -%>



<%- content_for :quick do -%>
<%- if user_has_right?('normal_actions') -%>
<div id="quick" data-shortcut = 'enabled'>
<span class = 'hdble'>
  <%= form_tag :action => 'present', :id => current_piece.id, :filter_type => 'text' do %>
  <%= text_field_tag 'search', '',:size => 20 %>
  <%= submit_tag 'Search' %><%= link_to 'Show All', :action => 'present', :id => current_piece.id %>
  <%- end %><br />
<span class="short-cut">N </span>
<%= link_to('New Scene', new_event_url(:piece_id => current_piece.id, :event_type => 'scene'), :class => 'jsc get-form sprep', :id => 'quick-scene')-%>
<br />
<span class="short-cut">S </span>
<%= link_to('New Sub Scene',new_sub_scene_url(:piece_id => current_piece.id), :class => 'jsc get-form ssprep' , :id => 'quick-sub')-%>
<%- if user_has_right?('normal_actions') -%>
<br /><br /><span id='dvd_quick'><%= raw video_quick_link %></span>
<% end -%>
<br /><br />
</span>
<%= link_to "Open Scratchpad",{:controller => 'capture',:action => 'open_scratchpad'},:class => 'jsc get-sc' %>
<br />
<a class = 'collapse'>Collapse </a><a class = 'expand'>Expand</a>
<%- if current_user.truncate == 'more' -%>
<br />
<a class = 'truncate'>"Less" All </a><a class = 'untruncate'>"More" All</a>
<%- end -%>
<br /><br /><br />
<div id = "dates">
<%- dates.each_with_index do |date,index| -%>
<a class = "dates"id= "dat-<%= index.to_s %>"><%= date.strftime("%d %b %Y") %></a><br />
<% end %>
</div>
</div>
<%- end -%>s
<%- end -%>
