<!DOCTYPE html>

<html>
  <head>
    <meta name="keywords" content="piecemaker,forsythe,dance,theater" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta "charset=UTF-8" >
    <title><%= @title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  	<%= raw yield_authenticity_token %>
  	<%= yield :js %>
  </head>
  <body id = "body">
  <div id = 'piecemaker_header'>
    <%= render :partial => '_shared/header' %>
    <%= yield :present_header %>
    <div id ="message" <%= raw "style='display:none'" unless flash[:notice] || flash[:searched_for] -%>>
      <%= flash[:notice] %>&nbsp;&nbsp;&nbsp;<%= flash[:searched_for] %>
    </div>
    <div id ="error" <%= raw "style='display:none'" -%>>
      <%= flash[:error] %>
    </div>
  </div>
  <div id = "main" class = 'main'>
    <%= yield  %>
  </div>
  <%= yield :quick -%>
  <%= yield :jump -%>
  <div  style='display:none' id = "form_div" class = 'form_div'></div>
  <div  style='top:20px;width:600px;margin-left:-300px;display:none' id = "scratchpad" class = 'form_div'></div>
  <%= yield :menus %>
  </body>
</html>
